<html>
<head>
    <title>Microblog</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        .custom-cell {
            font-size: 40px;
        }
        
        .centered-cell {
            text-align: center;
            vertical-align: middle;
        }
    </style>
</head>
<body>
    <table class="table">
        <tr>
            <td colspan="2" class="custom-cell">百老匯</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="centered-cell">購物指南</td>
            <td class="centered-cell">店舖地址</td>
            <td class="centered-cell">購物籃</td>
            <td>搜尋</td>
        </tr>
    </table>
</body>
</html>