{% extends "base.html.j2" %}
{% block content %}
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    下拉菜單
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">選項1</a>
    <a class="dropdown-item" href="#">選項2</a>
    <a class="dropdown-item" href="#">選項3</a>
  </div>
</div>
{% endblock %}