{% extends "base.html.j2" %}
{% block app_content %}
    <div class="Air_conditioner-page">
        <div>
            <h1>冷氣機點揀你要知</h1>
        </div>
        <div>
            <img src="{{ url_for('static', filename='howtochoose/Air_conditioner_Slider-DT_1.jpg') }}">
        </div>
        <div>
            <h3 align="center">香港夏天又熱又濕又漫長，冷氣機、抽濕機都係必不可少。

            之前分享了選購抽濕機的小貼士，今次我們為大家準備了非常全面的冷氣機「懶人包」，

            除了教你揀冷氣機之餘，當然還有正確使用、清潔及保養冷氣機的貼士。

            另外，仲有循環風扇配合使用小貼士，令室內溫度更加平衡，減低冷氣機耗電。</h3>
        </div>
                
        <div style="display: flex;">
            <div style="flex-grow: 1; ">
                <img src="{{ url_for('static', filename='howtochoose/Window_Air_Conditioner.jpg') }}">
                <h2 align="center">窗口式冷氣機</h3>
                窗口式冷氣機製冷壓縮機和排風裝置集於一體，運作時製冷壓縮機會發出一定聲音，冷氣機只需用金屬支架安裝在窗框上或石屎冷氣機台上。建議選購有防鏽塗層壓縮器的窗口式冷氣機，以避免壓縮器生鏽，運作時產生更大嗓音。

                ✔ 價格較低
                ✔ 安裝簡單
                ✘ 運作時噪音較大
            </div>
            <div style="flex-grow: 1; ">
                <img src="{{ url_for('static', filename='howtochoose/Wall-Mounted_Split_Air_Conditioner.jpg') }}">
                <h3 align="center">掛牆分體式冷氣機</h3>
                分體式冷氣機由室內機及室外機兩部分組成，室外機備有壓縮機和散熱冷凝管負責製冷，而室內機只負責送風，運作上較寧靜。但由於需搭棚安裝室外機，故有一定的安裝費用。另外，分體式冷氣機可一部室外機支援幾部室內機。

                ✔ 運作時較寧靜
                ✘ 售價較高
                ✘ 需搭棚，安裝費較高
            </div>
            <div style="flex-grow: 1; ">
                <img src="{{ url_for('static', filename='howtochoose/Window_Split_Air_Conditioner.jpg') }}">
                <h3 align="center">窗口分體式冷氣機</h3>
                窗口分體式冷氣機的室內機外型設計與一般分體式冷氣機沒太大分別，但室外機的體積則較小，可安裝於大部分窗口位，安裝較方便。坊間部份窗口分體式冷氣機稱為「纖巧型」分體式。

                ✔ 運作時較寧靜
                ✔ 適合室外位置有限的單位
                ✔ 毋需搭棚，安裝較簡單
                ✘ 售價較高
            </div>
            <div style="flex-grow: 1; ">
                <img src="{{ url_for('static', filename='howtochoose/Wall-Mounted_Split_Air_Conditioner_1.jpg') }}">
                <h3 align="center">冷暖空調機</h3>
                冷暖空調機外型和安裝方法，與分體式冷氣機沒有太大分別。但冷暖空調機可逆轉運行，室內供暖，在夏天時可以製冷，冬天時則可逆轉運行，將室外的熱能帶進室內並吹出暖風，而且冷暖空調機比同瓦數的暖爐更慳電，一機兩用，十分方便。

                ✔ 有冷暖氣供應，適合一年四季使用
                ✔ 運作時較寧靜
                ✔ 比暖爐更慳電
                ✘ 售價較高
                ✘ 需搭棚，安裝費較高
            </div>
            <div style="flex-grow: 1; ">
                <img src="{{ url_for('static', filename='howtochoose/Portable_Air_Conditioner__1.jpg') }}">
                <h3 align="center">移動式冷氣機</h3>
                移動式冷氣機底部設有滾輪，方便移動，但因要連接排氣管，所以局限了擺放於近窗位置，並連接排氣管將熱氣排出。

                ✔ 毋須安裝，可因應需求移動冷氣機
                ✔ 耗電較低
                ✘ 製冷效果較低
                ✘ 體積大，佔用地方較多
                ✘ 要預地方放排水散喉及熱氣位
                ✘ 運作時噪音較大
            </div>
        </div>
        <div>
            <h2 align="left">選購冷氣機的其他注意事項：</h2>
            <p align="left">冷氣機匹數
            「匹」是冷氣機的功率單位，匹數越大，製冷能力越高，但電力消耗亦越大。用家可參考房間面積，選擇合適的冷氣機匹數。</p>
            <img src="{{ url_for('static', filename='howtochoose/01_1.jpg') }}">
        </div>
        <div>
            <h3 align="center">冷氣機製冷能力
            冷氣機的製冷單位通常為千瓦(kW)或每小時英國熱量單位(BTU/h)，數值高則反映冷氣機的製冷能力較高。用家可參考房間面積，選擇合適的冷氣機製冷能力。</h3>
            <img src="{{ url_for('static', filename='howtochoose/01_1.jpg') }}">
        </div>
        <div>
            <p align="left">定頻式或變頻式冷氣機
            定頻式冷氣機的壓縮機運作時只能保持一個速度轉動，當冷氣機將室內溫度降低至設定水平後，壓縮機便會停止運作。然後待室溫回升，壓縮機就會重新開始運作以再將室溫降低至合適水平。故定頻式就是因應室溫而不斷開關啟動，室溫會比較不穩定，且耗電量大，所以定頻式冷氣機售價一般較便宜。

            變頻式冷氣機則探測室溫達到某溫度後，冷氣機會自動調低壓縮機的轉速並繼續運作，避免壓縮機機件經常開關，同時能穩定地控制室內溫度，故變頻式冷氣機擁有較高效能及更節省能源，節省達40%電力。所以變頻式冷氣機售價較高。

            能源標籤
            冷氣機能源標籤標明由最高的１級至最低的５級能源效率級別，「一級能源標籤」的窗口式冷氣機比「三級能源標籤」的節省11%電力，比「五級能源標籤」的節省多25%電量。而「一級能源標籤」分體式冷氣機較「三級能源標籤」的慳36%電力，比「五級能源標籤」的更可多節省61%電力。另外，能源標籤上標示的「製冷量」和「每年耗電量」以作比較。</p>
        </div>
        <div>
            <h2 align="left">冷氣機安裝小貼士：</h2>
            <p align="left">若居所沒有特設的混凝土冷氣機位，要確保窗框及支架能否承受冷氣機的負荷。即使有特定的冷氣機位，也必須牢固地鎖在混凝土上，不能隨便將冷氣機放在機位上了事。
            冷氣機安裝工程如選擇由冷氣機供應商負責，通常有較大的保障，因為不論是機件還是安裝問題，都是由供應商負責，可減少麻煩；消費者亦可選擇聘用供應商建議的承辦商，安裝質素也較有保證，日後發現問題亦較容易追溯和跟進。
            冷氣機應避免安裝在陽光直接照射的地方，並且不要阻擋進氣口及出風口。</p>
        </div>
        <div>
            <h2 align="left">冷氣機使用同保養貼士：</h2>
            <p align="left">開冷氣時需關好門窗，同時可加開風扇，並拉上窗簾，有助加快降低溫度，節省電力。
            預設關機時間，並謹記在出門前將冷氣機關掉，以節省電力。
            利用冷氣機出風口扇葉的遙擺功能，使冷氣均勻吹出，快速室內溫度。
            避免任何物件阻擋冷氣機進氣口及出風口，以免影響製冷及衡溫。
            冷氣機出風口避免近距離直接吹向天花或牆壁，減少因受溫差影響而導致潮濕發霉的機會。
            冷氣機應每運作12小時便需關機休息，可減少機件磨損，影響壽命。
            關機後最少5分鐘後才重開冷氣機，避免短時間重開，影響冷氣機的壽命。
            每2星期洗一次清洗隔塵網及抹洗風口位。用花灑水力清洗隔塵網及冷氣機外罩的污垢，切勿用刷清洗，因為會令隔塵網的網孔變大，影響隔塵功能。
            具防菌功能的隔塵網不用清洗，但建議一至兩年更換新的隔塵網，以確保擁有最佳的過濾效果。
            定期使用合適的冷氣機清潔劑，清潔冷氣機的冷卻金屬片，以減少細菌滋生。
            定期安排有經驗的技師檢查、保養及維修，確保機件運作正常。</p>
        </div>
    </div>
{% endblock %}