{% extends "base.html.j2" %}
{% block app_content %}
    <div class="Dehumidifier-page">
        <div>
            <h1>抽濕機推介</h1><br>
        </div>
        <div>
            <img src="{{ url_for('static', filename='howtochoose/dehumidifier_buying_guide_Desktop.jpg') }}" width="1000" height="400">
        </div>
        <div>
            <h2 align="center">抽濕機推介！選購攻略！ - 告別潮濕天氣 - </h2><br>

            牙縫清潔就要用牙線、牙縫刷或水牙線，所以我哋精選多款電動牙刷同水牙線，等你可以體驗到全面的口腔護理。</h3><br>
            <h3 align="center">香港潮濕天氣你同我都知有幾令人困擾，牆身滲漏、發霉，傢俬電器因濕氣而失靈損壞，衣物好難乾透，而且濕氣積聚容易滋生細菌，產生異味，諗起都頭痛！<br>

            所以香港家庭都必備一部強力嘅抽濕機。市面上嘅抽濕機五花八門，所以我哋一次過幫你列出買抽濕機嘅注意事項、使用同保養貼士！</h3><br>
        </div>
                
        <div>
            <h2 align="left">第一步：計算你需要的抽濕量</h2><br>
            <h3 align="left">用家需要以家居面積，及居住環境的微氣候，選擇合適的抽濕機，如沿海地區、離島、將軍澳、調景嶺、西貢等地需要高抽濕量的抽濕機。大家可以根據以下抽濕量參考表，搵出所需要的抽濕量。</h3><br>
            <img src="{{ url_for('static', filename='howtochoose/Dehumidifier_table.jpg') }}">
        </div>
        <div>
            <h2 align="left">第二步：參考抽濕機的抽濕量</h2><br>
            <h3 align="left">抽濕機上通常有兩個每日抽濕量的數值，一個是生產商設定的慣用測試環境，而另一個是機電署設定的標準環境。<br>

            生產商慣用環境測試：溫度30℃、相對濕度80%<br>
            機電署標準環境測試：溫度26.7℃、相對濕度60%<br>
            事實上，因為測試環境與實際家居溫度同相對濕度有差異，抽濕量只係參考數字，所以買抽濕機時，比較唔同型號的抽濕能力，應同時參考生產商提供的抽濕量及能源標籤上的數值。</h3><br>
        </div>
        <div>
            <h2 align="left">第三步：選擇你需要的容量</h2><br>
            <h3 align="left">普遍抽濕機集水箱容量３公升以上，可應付４小時或以上使用時間。如果想避免經常倒水的麻煩，可以選擇高容量的抽濕機，但一般容量越大，抽濕機體積越大，而且部份型號備有腳輪及手柄，方便移動使用。另有部份抽濕機可接駁去水喉，運作期間連續排水，方便長時間使用。</h3><br>
        </div>
        <div>
            <h2 align="left">第四步：選擇一級能源效益</h2><br>
            <h3 align="left">能源標籤上除了標示抽濕量及耗電量等資料，還有反應抽濕機的「慳電」程度的能源效益，分為１至５級，１級能源效益為最「慳電」。</h3><br>
        </div>
        <div>
            <h2 align="left">第五步：抽濕機種類及空氣淨化功能</h2><br>
            <h3 align="left">根據消委會報告指出，壓縮式及混合式抽濕機抽濕表現較易受溫度同濕度影響，而熱石式抽濕機表現則較穩定，所以較適合一年四季都有需要使用抽濕機的用家。另部份抽濕機，更附有空氣淨化功能，但需要定期更換濾網。</h3><br>
        </div>
        <div>
            <img src="{{ url_for('static', filename='howtochoose/Dehumidifier_Promo_landing.jpg') }}">
            <h3 align="left">使用抽濕機時，應把門窗關好，以免室外濕氣進入室內而影響抽濕效果。<br>
            善用抽濕機定時關機功能，避免開機時間過長和或忘記關機。<br>
            部份抽濕機型號設有濕度控制功能, 可因應室內濕度自動開機或停機，避免室內太乾燥又更為省電。<br>
            擺放抽濕機時必須預留散熱位，出風口、吸風口及濕度感應器不能被阻擋，有助提升效能。<br>
            抽濕機應直立放在平穩的地方，避免傾側置放以引起故障，或令水箱內積水外漏。<br>
            切勿把未乾的衣服直接置於抽濕機之上，以免衣服上的水滴在抽濕機上而引起危險。<br>
            定期清洗抽濕機集水箱及隔塵網，避免細菌滋生及塵埃積聚妨礙抽濕機正常運作。<br>
            若長時間不使用抽濕機，建議應清空水箱內的積水，再使用膠袋將其蓋好存放，以免塵埃落入機內。</h3>
        </div>
        <div>
            <h2 align="left">不能盡信廠商慣用環境，應參考能源標籤</h2><br>
            <h3 align="left">通常我們會見到兩套不同的抽濕量數字，一套常見於能源標籤，一套則常見於產品宣傳單張。現時，在本港出售的壓縮式抽濕機必須貼上強制性能源效益標籤計劃訂明的能源標籤。標籤上的能源效益級別是根據代理商向機電署呈交由認可實驗室的測試報告內的能源效率及標準環境下的額定抽濕量等數據計算出來，主要分為1至5級，1級代表其能源效率在同一額定抽濕量的抽濕機中最高、最省電。能源標籤上的抽濕量是於標籤計劃規定的標準環境下量度的，較為客觀。</h3><br>
            <img src="{{ url_for('static', filename='howtochoose/230127-0001.jpg') }}">
        </div>
        <div>
            <h3 align="left">宣傳單張上聲稱的數值，通常是廠商慣用環境 (即是溫度30℃及相對濕度80%)下量度所得的數值，未必能準確反映實際使用情況。消費者若參閱宣傳單張或產品說明書上聲稱的每日抽濕量時，應留意其測試溫度及濕度，不宜單憑廠商在溫度及濕度較高的非標準環境下量度的聲稱數值作比較。<br>

            例如壓縮式抽濕機在較高的溫度及濕度下量得的每日抽濕量會較高，這可能誤導消費者，以為產品的效能較佳，但實際使用時卻不似預期。</p><br>
        </div>
        <div>
            <h3 align="left">標準環境下表現：抽濕量或比聲稱低<br>
            在標準環境下，實際的每日抽濕量與強制性能源效益標籤計劃的數值又是否吻合？<br>

            結果發現，6款樣本量得的每日抽濕量比其額定數值低，當中有些只輕微低約0.1%至1.1%，惟有一款型號比其聲稱數值低約6.9%，但差異仍在計劃下可接受的10%公差範圍內。<br>

            何謂變頻壓縮式抽濕機？<br>
            採用變頻技術的抽濕機，可在一定範圍內自動調節轉速，而傳統的定頻技術壓縮機只能以最高耗電量模式運行，不能改變轉速。變頻抽濕機在起動後會以較高的轉速運行，將室內濕度調節至預設的相對濕度後，會自動調低轉速運作；在低轉速的耗電量固然比高速運作時低，但關鍵是在較低轉速運作時的能源效率一般更高，故能節省能源。<br>

            未必要買最「勁抽」的機型？宜考慮家居因素<br>
            在選購時，應配合居所需要，若居住面積大、或住在近海或潮濕的地區，又或要求快速抽濕，可考慮選用每日抽濕量較高的型號，反之亦然。<br>

            另外，亦可考慮家中是否需要全年開動抽濕機，或者對抽濕速度是否有要求。例如對抽濕速度要求不特別高的用戶，可考慮佔用空間較少，售價相對便宜的機型。<br>

            潔淨空氣量（Clean Air Delivery Rate，CADR）<br>
            這是反映空氣淨化機的空氣淨化能力的參數，指的是空氣淨化機提供不含特定污染物的空氣的速度，數值愈高，表示淨化該污染物的速度愈快，淨化能力愈好。<br>

            除顆粒物：<br>
            除顆粒物即煙霧、塵埃及花粉等。經測試，4款二合一空氣淨化抽濕機的CADR，以除煙霧的結果為例、最慢為45.2立方呎/分鐘、最快的樣本為133.7立方呎/分鐘，即淨化速度最快的樣本可快達2倍。<br>

            除甲醛：<br>
            4款型號均可降低甲醛的濃度，惟速度頗慢，由5.7至16.4立方呎/分鐘（由於GB/ T標準以立方米/小時為單位，按此單位各樣本的CADR介乎9.7至27.9立方米/小時，淨化速度相差1. 9倍。</h3>
        </div>
    </div>
{% endblock %}