{% extends "base.html.j2" %}
{% block app_content %}
<div class="index-page">
  <h1>Welcome to Our Online Store!</h1>
  <p>Check out our <a href="{{ url_for('products') }}">products</a>!</p>
  <p>Already a user? <a href="{{ url_for('collect_list') }}">collect_list</a>!</p>
  <p>Not a user? <a href="{{ url_for('author') }}">dd-collect!</a></p>
  <p>Not a user? <a href="{{ url_for('news_list') }}">dd-collect!</a></p>
  <a>search<a href="{{ url_for('search') }}">search</a>!</a>
</div>
{% endblock %}git 