{% extends "base.html.j2" %}
{% block app_content %}
<div class="information-page">
  <h1>Information for our company</h1>
    <p><h2>40s - 50s</h2></p>
        <p><img src = ></p>
            <p>百老滙的成立，源自創辦人 – 李波先生將新科技普及化的熱誠。於50年代，攝影屬當時一種非常昂貴的玩意，而作為攝影師的李波先生便於1949年在旺角彌敦道開設店舖，提供售賣菲林、出租相機及相片沖矖服務，其後在旺角山東街創辦了首間百老滙，讓大眾有機會體驗科技所帶來的生活趣味。</p>
    <p><h2>70s - 80s</h2></p>
        <p><img src = ></p>
            <p>及至70年代，攝影及影音器材日漸普及，百老滙的服務漸趨多元化，逐漸轉型為售賣相機、菲林及影音產品的專門店，並於1975年正式註冊成立「百老滙攝影器材有限公司」。自此起，百老滙認為科技發展日新月異，電子及電器產品勢必成為大家生活上的必需品，因此便積極拓展其業務範疇，由攝影器材專門店發展至多元化的數碼電子及電器零售業務。</p>
    <p><h2>Now</h2></p>
        <p><img src = ></p>
            <p>隨著時代變遷，層出不窮的電子及電器產品不斷影響著我們的生活模式，顧客的需求亦不斷轉變，而百老滙亦同步演變，已經成為本港頂尖的一站式電子及電器零售連鎖店，憑著超卓服務獲獎無數，至今擁有約30間門市，聘用1千多名員工。百老滙時刻本著「勇敢嘗試，不斷創新」的精神，積極引入各式嶄新的數碼電子及電器產品，配合不斷提升的專業零售服務和時尚購物體驗，特設「購物保障，十天更換」及「電腦化留貨服務」，更於2017年開展全新的線上線下購物體驗，讓顧客時刻與科技潮流緊密連繫，體驗科技如何提升我們的生活享受，令生活更添樂趣。</p>
</div>
{% endblock %}git 