{% extends "base.html.j2" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}NewProduct{% endblock %}

{% block app_content %}
    <div class="container mt-4">
        <h1>NewProduct</h1>
        <div class="row">
            {% for product in products %}
            <div class="col-md-4 mb-3">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='photosmall/' + product.image_filename) }}" alt="{{ product.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.description }}</p>
                        <p class="card-text"><strong>Price:</strong> {{ product.price }}</p>
                        <a href="{{ url_for('product_detail', product_id=product.id) }}" class="btn btn-success" class="btn btn-primary">了解更多</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}