{% extends "base.html.j2" %}

{% block title %}{{ news_item.title }}{% endblock %}

{% block header %}
    <a href="{{ url_for('news_list') }}">Back to News List</a>
{% endblock %}

{% block content %}
    <h1>{{ news_item.title }}</h1>
    {% if news_item.image_filename %}
        <img src="{{ url_for('static', filename='images/' + news_item.image_filename) }}" alt="News Image">
    {% else %}
        <img src="{{ url_for('static', filename='images/no-image.png') }}" alt="No image available">
    {% endif %}
    <p>{{ news_item.content }}</p>
    <p>Published on: {{ news_item.addtime.strftime('%Y-%m-%d %H:%M') }}</p>
    {% if news_item.author %}
        <p>Author: {{ news_item.author.name }}</p>
    {% else %}
        <p>Author: Unknown</p>
    {% endif %}
{% endblock %}