{% extends "base.html.j2" %}

{% block title %}News List{% endblock %}

{% block content %}
<h2>All News Items</h2>
<ul>
    {% for news_item in news %}
    <li>
        <a href="{{ url_for('news_detail', news_id=news_item.id) }}">{{ news_item.title }}</a> - 
        {{ news_item.content | truncate(100, True, '...') }} <br>
        <strong>Author:</strong> {{ news_item.author.name if news_item.author else 'Unknown' }}
    </li>
    {% endfor %}
</ul>
{% endblock %}