{% extends "base.html.j2" %}
{% block app_content %}
    <div class="oral_care-page">
        <div>
            <h1>口腔護理你要知</h1>
        </div>
        <div>
            <img src="{{ url_for('static', filename='howtochoose/Slider_DT_10.jpg') }}" width="1000" height="400">
        </div>
        <div>
            <h3 align="center">唔講大家可能未必記得，我哋細細個換完牙之後，就係呢32隻恆齒陪我哋一生一世，而且牙齒係唔識自我修復，<br><br>

            所以為咗以後都可以食到好東西，口腔護理是必須的！<br><br>

            日常嘅口腔護理並不只係刷牙、用漱口水，因為刷牙只能清潔牙齒表面，漱口水亦不能清走牙縫的污垢。<br><br>

            牙縫清潔就要用牙線、牙縫刷或水牙線，所以我哋精選多款電動牙刷同水牙線，等你可以體驗到全面的口腔護理。</h3><br>
            <h2 align="center">聲波震動式電動牙刷</h2><br>
            <h3 align="center">指刷毛震動頻率與聲波相近或相同，而不是以聲波清潔牙齒。喺聲波震動下，刷毛上的牙膏和口水在口腔產生大量泡沫，<br>

            有助提高清潔效果。但聲波震動電動牙刷所發出的聲量通常較大。</h3><br>
        </div>
                
        <div>
            <h2 align="center">旋轉式電動牙刷</h2><br>
            <h3 align="center">以電動摩打驅動，利用刷毛與牙齒的摩擦來達至清潔效果。通常刷頭轉動頻率越高，價格越高。<br>
            部份低價電動牙刷，甚至無法更換刷頭。另外要注意，如果有牙齦敏感問題的用家要注意，電動牙刷有機會摩擦到牙肉引起不適。</h3><br>
        </div>
        <div>
            <h2 align="left">選購電動牙刷注意事項</h2><br>
            <h3 align="left">牙刷刷頭<br><br>

            如普通牙刷一樣，用家要選擇適合自己嘅刷毛軟硬度，如果刷毛太硬有機會造成口腔受傷。電動牙刷的刷頭需要每三個月更換，避免細菌滋生，但同時需要留意更換刷頭的成本。<br><br>


            充電方式<br><br>

            市面有充電式或電池式，充電式的電動牙刷適合家中使用，而且可以節省電池成本。而入電池式電動牙刷沒有充電器，比較適合旅行使用。<br><br>


            專用手機APP<br><br>

            部份型號支援專用手機應用程式，可以提示刷牙時間外，還做到刷頭自動感應及追蹤刷牙動作覆蓋範圍，指導用家完整刷牙過程。</h3><br>
        </div>
        <div>
            <h2 align="center">水牙線</h2><br>
            <h3 align="center">又名沖牙器、牙縫清潔機，以噴出的水柱(或混合空氣氣泡)清潔牙齒隱秘部位，如牙縫隙丶牙齦溝等牙刷難以清潔的地方。</h3><br>
        </div>
        <div>
            <h2 align="left">水牙線使用方法</h2><br>
            <h3 align="left">不要將洗衣機放置於潮濕的地方。<br>
            使用前先將清水注入水牙線的儲水箱，然後將臉部靠向洗手盆，將噴嘴放入口中，對準牙齒或牙縫位置，再開動水牙線以噴嘴噴出的水柱清潔牙齒，過程中，應將噴嘴沿著牙齒緩慢移動以清潔所有牙齒及牙縫，嘴唇應微合以防止清潔時水花四濺。<br>

            每次使用後，應將儲水箱中剩餘的水倒出，及開動水牙齒以排走剩餘的水，並應清洗及抹乾噴嘴以防止細菌滋生。</h3><br>
        </div>
        <div>
            <h2 align="left">選購水牙線注意事項</h2><br>
            <h3 align="left">機座式及充電式水牙線<br>

            機座式水牙線的儲水箱設於機座，以喉管連接手柄，儲水箱容量較大，所以體積亦較大，運作時必須直接連接電源。定價比充電式水牙線高。<br>

            充電式水牙線的儲水箱和手柄是一體設計，儲水箱容量較小，以小型充電器充電，充電一次可以用一至兩星期。價錢比較便宜。<br>


            水柱衝擊力<br>

            水牙線噴出的水枉衝擊力並非越大越好，但一般未達到500毫米汞柱壓力的水牙線是不能清潔到牙周較深的地方。<br>


            儲水箱容量<br>

            儲水箱容量越大，連續使用時間越長。一般600ml容量以強水壓運作，大約能維持運作2分鐘左右，所以有可能未完成清潔，清水已用完，需要再度注水以繼續清潔。<br>


            個人專用噴嘴<br>

            水牙線除了備有標準噴嘴外，還有適用於牙周囊袋或牙套、維持器專用等不同類型的噴嘴。如果與家人共用水牙線，基於衛生問題，建議必須準備個人的水牙線噴嘴，切勿共用噴嘴。</h3>
        </div>
    </div>
{% endblock %}