{% extends "base.html.j2" %}
{% block app_content %}

    <div class="container mt-4">
        <h2>My Orders</h2>
        {% if orders %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>Date</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                        <tr>
                            <td>{{ order.order_id }}</td>
                            <td>
                                <a href="{{ url_for('order_detail', id=order.order_id) }}" class="btn btn-info">View Details</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="alert alert-info" role="alert">
                You have no orders yet.
            </div>
        {% endif %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

{% endblock %}