{% extends "base.html.j2" %}
{% block app_content %}
    <div class="Refrigerator-page">
        <div>
            <h1>雪櫃點揀你要知</h1>
        </div>
        <div>
            <img src="{{ url_for('static', filename='howtochoose/Slider_DT_7.jpg') }}" width="1000" height="400">
        </div>
        <div>
            <h3 align="center">三大大型家電：洗衣機、冷氣機及雪櫃。洗衣機同冷氣機早前已經介紹咗，今次再同大家分享下揀雪櫃嘅心得同注意事項。<br><br>

            揀一部啱用夠用嘅雪櫃，加上適當嘅安放同保養，正常使用係可以用到十年以上。<br><br>

            正所謂「貴買平用」，貴少少買部高質素嘅雪櫃更重要！立即參考以下幾個步驟，揀出你嘅心水雪櫃。</h3><br>
            <h2 align="left">第一步：計算所需的雪櫃容量</h2><br>
            <h3 align="left">每個家庭所需的雪櫃容量，會因應家庭人數及生活習慣，而有所要求不同。一個家庭的雪櫃基本用品大約佔100公升，而每一家庭成員的所需容量約70公升，計算所需雪櫃容量的公式如下：<br>

            所需的雪櫃容量 ＝ （每一家庭成員的所需容量70公升 X 家庭人數）＋ 基本用品100公升<br><br>

            所需的雪櫃容量參考表</h3>
        </div>
        <div>
            <img src="{{ url_for('static', filename='howtochoose/capacity_chi.jpg') }}">
            <p align="left">除了家庭人數影響所需的雪櫃容量，生活習慣如有沒有煮食習慣、喜歡邀請親朋好友聯誼暢聚等因素都需要考量。另外，如果有飲用或收藏葡萄酒，則需要另外添置酒櫃，以免雪櫃內的食物氣味影響葡萄酒味道。</p><br>
        <div>
            <h2 align="left">第二步：選擇雪櫃門數目及款式</h2><br>
            <h3 align="left">雪櫃通常按雪櫃門數分類，如有單門、雙門、三門及多門式。<br>

            單門雪櫃或迷你雪櫃只有冷藏室，適合一人家庭及對急凍室(即「冰格」或「冰箱」)沒有需要的人士，或者用於需要獨立冷藏的食物如母乳等，避免受其他食物的細菌污染。<br>

            而最常見的雙門雪櫃備有冷藏室同冰箱，再細分為上置式冰箱、下置式冰箱及對門式三種。上置式冰箱較為受歡迎，性價比亦較高；而下置式冰箱可經常避免彎腰從冷凍室拿取食物；對面式雪櫃門較小，開門時不需要預留太多空間，加上機身較闊而且較淺，更容易拿取食物。<br>

            三門式或多門式雪櫃則配備冷藏室、冰箱和蔬果室，容量大。冰箱通常會位於下方，並有一個至兩個冷凍室抽屜。部份多門式雪櫃更有外置濾水器、飲水機及製冰機等。</h3><br>
        </div>
        <div>
            <h2 align="left">第三步：選擇一級能源效益雪櫃</h2><br>
            <h3 align="left">能源標籤上除了標示製冷量(千瓦)及雪櫃製冷劑等資料，還有反應雪櫃的「慳電」程度的能源效益，分為１至５級，１級能源效益為最「慳電」。</h3><br>
        </div>
        <div>
            <h2 align="left">第四步：購買雪櫃其他注意事項</h2>
            <h3 align="left">又名沖牙器、牙縫清潔機，以噴出的水柱(或混合空氣氣泡)清潔牙齒隱秘部位，如牙縫隙丶牙齦溝等牙刷難以清潔的地方。</h3>
        </div>
        <div>
            <h2 align="left">水牙線使用方法</h2><br>
            <h3 align="left">一般雪櫃冷藏室溫度為平均4℃，同冰箱平均約-18℃，通常設有手動調整溫度功能，部份雪櫃更設有獨立溫度調節冷藏室，滿足不同食物種類的冷藏溫度。<br>

            另外，新式的雪櫃內籠使用LED燈，比傳統燈泡「慳電」、耐用，並散發較少熱量，減少影響雪櫃溫度。<br>

            而且新式的雪櫃於雪櫃內壁及門上使用抗菌塗層，防止細菌滋生，避免污染食物及影響食物保鮮期。</h3><br>
        </div>
        <div>
            <h2 align="left">雪櫃使用同保養貼士：</h2><br>
            <h3 align="left">雪櫃不應儲存太多食物或長期騰空，因為需要更多電力來製冷，降低雪櫃效能。<br>
            高溫食物應先置於室溫冷卻後，才放入雪櫃冷藏，以節省額外製冷所需的電力。<br>
            要確保雪櫃門妥善關上，以及避免過於頻密地開關雪櫃門。<br>
            定期檢查雪櫃門的膠質的密封墊有否損壞或老化，有需要則便要更換。<br>
            雪櫃不可以放置於陽光直接照射的地方或煮食爐旁邊，以免影響散熱。<br>
            擺放雪櫃時要預留有足夠空間，讓雪櫃的冷凝盤管四周空氣流通，幫助散熱，並減少能源消耗。</h3><br>
        </div>
    </div>
{% endblock %}