<!DOCTYPE html>
<html>
<head>
    <title>Shops List</title>
</head>
<body>
    <h1>Shops List</h1>

    {% if shop %}
    <ul>
        {% for s in shop %}
        <li>
            {{ s.desc }} - {{ s.tel }} - {{ s.email }} - {{ s.address }}
                <input type="hidden" name="id" value="{{ s.id }}">
                <input type="submit" value="Delete">
            </form>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No shops available.</p>
    {% endif %}
</body>
</html>