{% extends "base.html.j2" %}
{% block app_content %}
    <div class="washing_machine-page">
        <div>
            </div><h1>洗衣機推薦</h1>
        </div>
        <div>
            <img src="{{ url_for('static', filename='howtochoose/wash.jpg') }}">
        </div>
        <div>
            <h3 align="center">想換洗衣機嘅你，係咪好頭痛唔知點揀好呢？有我哋幫緊你幫緊你～唔使驚！

            除咗一次過比較晒上置式、前置式同日本式洗衣機外，仲有其他買機注意事項同使用、保養貼士，幫你揀到一部最啱你屋企嘅洗衣機。

            除咗洗衣機，乾衣機、抽濕機都唔少得！尤其係香港回南天嘅時候，衣物難乾，容易有細菌異味，所以乾衣機、抽濕機有助衣物殺菌除臭除濕。</h2>
        <h1 align="center">洗衣機推薦 / 洗衣機推介</h1>
        </div>
        <div style="display: flex;">
            <div style="flex-grow: 1; "><img src="{{ url_for('static', filename='howtochoose/Top-Load_langing.jpg') }}">
            <p align="left">又叫頂揭式，以滾筒轉動將衣物帶到高處，再摔下，利用地心吸力原理摔打衣物，以去除衣物污積。
            ✔ 耗水量較低
            ✔ 機身較修長，慳位
            ✔ 開機後門蓋有鎖
            ✔ 可選擇凍水或熱水洗衫
            ✘ 洗衫需時較長
            ✘ 較耗電</p></div>
            <div style="flex-grow: 1; "><img src="{{ url_for('static', filename='howtochoose/Front_landing.jpg') }}">
            <p align="left">又叫滾筒式，俗稱大眼雞。以電機驅動滾筒轉動，將滾筒內的衣物不斷拋高、摔下，模仿摔打、搓揉等手洗原理，以達致清潔去污的效果。
            ✔ 耗水量較低
            ✔ 衣物潔淨度較高
            ✔ 可利用機頂空間
            ✔ 開機後門蓋有鎖
            ✔ 可選擇凍水或熱水洗衫
            ✘ 洗衫需時較長
            ✘ 較耗電</p>
            </div>
            <div style="flex-grow: 1; "><img src="{{ url_for('static', filename='howtochoose/Single-Tube.jpg') }}">
            <p align="left">又叫葉輪式，以機筒底部葉輪高速旋轉，產生強力及不同方向的水流，以清洗衣物上的污垢。
            ✔ 洗衫需時較短
            ✔ 較慳電
            ✔ 洗衣時可加入衣物
            ✔ 售價普遍較低
            ✘ 耗水量較高
            ✘ 衣物潔淨度較低
            ✘ 只可凍水洗衫
            ✘ 開機後門蓋沒有鎖，有安全風險</p>
            </div>
        </div>
        <div>
            <h2 align="left">選購洗衣機的其他注意事項：</h2>
            <p align="left">洗衣量

            洗衣量指洗衣機的最大洗滌容量，接近或超過洗衣量，會令洗衣機運轉不暢，洗衫效能大減，長久超載更會損壞電機。大家可以以 (家庭人數 x 1.5公斤) + 1公斤 即可估算需要的洗衣量，例如3人家庭適合6公斤的洗衣機。

            脫水轉速

            脫水轉速越高，越能短時間抽出更多水分。一般洗衣使用中等轉速每分鐘800-1000轉，如想縮短晾乾衣物時間，可使用每分鐘1200轉或以上，但要留意衣物物料是否適合。

            能源標籤
            洗衣機能源標籤標明由最高的１級至最低的５級能源效率級別之外，還顯示每年耗電量及耗水量以作比較。</p>
        </div>
        <div>
            <h2 align="left">洗衣機使用及保養貼士：</h2>
            <p align="left">不要將洗衣機放置於潮濕的地方。
            為洗衣機提供獨立電插座。
            盡量儲滿一機衣物才開啟洗衣機，但要確保洗衣量不可超過洗衣機所列上限。
            每次洗衣前，要檢查衣物有沒有硬幣或雜物。
            不要過量使用洗衣劑，因為過多泡沫會影響洗衣機運作。
            使用節能洗衣程序，可更慳水慳電。
            洗衣完要把門蓋打開，以免濕氣積聚於洗衣筒內。
            定期用梳打粉、白醋或漂白水，開「空機」進行內部清洗。
            定期清理洗衣劑盛載格、排水泵過濾器、棉絮過濾器和機門塑膠封邊等。</p>
        </div>
    </div>
{% endblock %}

